{% extends "layout.html" %}

{% block title %}Koontinäyttö{% endblock %}

{% block content %}
<h2>Koontinäyttö</h2>
<p>Tervetuloa, {{ session.username }}!</p>
<p>Kulutetut kalorit päivälle: {{ total }}{% if goal %} / {{ goal }}{% endif %}</p>

<form class="search-form" method="get" action="{{ url_for('dashboard') }}">
  <!-- <label for="entry_date">Päivämäärä</label>
  <input type="date" id="entry_date" name="entry_date" value="{{ date_filter }}"> -->

  <label for="search">Hae ruokaa</label>
  <input type="search" id="search" name="search" value="{{ search_term }}" placeholder="Esim. kana, salaatti ...">

  <button type="submit">Hae</button>
</form>

{% if entries %}
<table>
  <thead>
    <tr>
      <th>Pvm</th>
      <th>Kuvaus</th>
      <th>Kalorit</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in entries %}
    <tr>
      <td>{{ entry.entry_date }}</td>
      <td>{{ entry.description }}</td>
      <td>{{ entry.calories }}</td>
      <td class="">
        <form method="get" action="{{ url_for('edit_entry', entry_id=entry.id) }}">
          <button type="submit">Muokkaa</button>
        </form>
        <form method="post" action="{{ url_for('delete_entry', entry_id=entry.id) }}">
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
          <button type="submit">Poista</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>Et ole vielä kirjannut yhtään merkintää.</p>
{% endif %}
{% endblock %}